<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
        <div class="sidebar-brand-icon">
            <i class="fas fa-home"></i>
        </div>
        <div class="sidebar-brand-text mx-3">University<br>Admin</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <!--  <li class="nav-item active">
                <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            </li> -->
    <!-- Divider -->
    <!--    <hr class="sidebar-divider"> -->
    <!-- Nav Item - Moderator -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/student">
            <i class="fas fa-fw fa-user"></i>
            <span>Student</span>
        </a>

    </li>
    <!-- Nav Item - Faculty -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/faculty">
            <i class="fas fa-fw fa-user"></i>
            <span>Faculty</span>
        </a>

    </li>
    <!-- Nav Item - Student -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/moderator">
            <i class="fas fa-fw fa-user"></i>
            <span>Moderator</span>
        </a>

    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Divider -->
    <!-- Sidebar Toggler (Sidebar) -->

</ul>