@charset "utf-8";

/*----------------Fonts--------------*/
/*-----------------------------------*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Opensans-Regular.eot');
    src: url('../fonts/Opensans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Opensans-Regular.woff') format('woff'),
         url('../fonts/Opensans-Regular.ttf') format('truetype'),
         url('../fonts/Opensans-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/Opensans-Semibold.eot');
    src: url('../fonts/Opensans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Opensans-Semibold.woff') format('woff'),
         url('../fonts/Opensans-Semibold.ttf') format('truetype'),
         url('../fonts/Opensans-Semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/Opensans-Bold.eot');
    src: url('../fonts/Opensans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Opensans-Bold.woff') format('woff'),
         url('../fonts/Opensans-Bold.ttf') format('truetype'),
         url('../fonts/Opensans-Bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------Body----------------*/
/*-----------------------------------*/
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
    color: #000;
    font-size: 15px;
    over-flow: hidden;
    -webkit-filter: none;
}

.import
{
     width: 100%;
  padding: 30px 600px 30px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  
}

.content
{

padding: 10px 5px 15px 20px;
justify-content: space-between;

}


.note
{
    padding-right: 20px;
    padding-top: 5px;
}

